VITE_SUPABASE_URL=https://vryeqtjnefdlqprzglmp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZyeWVxdGpuZWZkbHFwcnpnbG1wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc5MDExMTcsImV4cCI6MjEwMzQ3NzExN30.B7WM-W0NsYXVtEQJq4QSRobIBWpKAnfmGqKWI58FrJU
